<div class="jumbotron">
<h1>login</h1>
<form action="/signup">
  <button type="submit" class="btn btn-primary">Registrate! </button>
</form>
 <form action="/login" method="POST" >
      <div class="mb-3">
        <label for="user" class="form-label">Mail</label>
        <input  type="text" class="form-control" name="username"  id="user" />
      </div>

      <div class="mb-3">
        <label for="pass" class="form-label">Password</label>
        <input  type="password" class="form-control" name="password" id="pass" />
      </div>

      <button type="submit" class="btn btn-primary">Listo! </button>
    </form>
<hr >
{{!-- 
<form action="/auth/twitter">
  <button type="submit" class="btn btn-primary">Twitter Login </button>
</form> --}}
<hr >
<form action="/">
  <button type="submit" class="btn btn-primary">GO BACK </button>
</form>

<hr >

</div>