<h2>Info</h2>


    <div class="container text-center my-3">
        <div class="jumbotron" style="background-color: green;color: white;">
            <h1>Numeros random</h1>
            <list>
                <ul class="list-unstyled">
                    <li>Numeros{{datos}}</li>

            </list>
 
            <br>
       


            <form action="/">
                <div class="text-center"></div>
                    <button class="btn btn-danger my-5">Goo back</button>
                </div>
            </form>
        </div>
    </div>
